@page
@model IndexModel

<div class="card bg-dark text-white my-2" style="border-radius: 2rem;">
	<div class="card-body p-5 text-center">
		<div class="my-5">
			<h2 class="fw-bold text-uppercase">Counter</h2>
			<p class="text-white-50 mb-4">Please enter requests delay</p>
			<form>
				<div class="input-group mb-3">
					<input type="number" class="form-control form-control-lg" placeholder="Delay" aria-label="Delay" asp-for="Delay" id="delay-input">
					<span class="input-group-text bg-dark text-light">ms</span>
				</div>
				<div class="my-2">
					<span asp-validation-for="Delay" class="mb-2"></span>
				</div>
				<div class="d-grid gap-2">
					<button class="btn btn-outline-light btn-lg start-button my-2" id="start-button">Start</button>
					<button class="btn btn-outline-light btn-lg stop-button my-2" id="stop-button" disabled>Stop</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="card bg-dark text-white" style="border-radius: 2rem;">
	<div class="card-body p-5 text-center">
		<p class="fs-3 m-0" id="amount"></p>
	</div>
</div>

<partial name="Shared/_ValidationScriptsPartial"/>
<partial name="Shared/_SignalrScriptsPartial"/>

<script>
	document.addEventListener("DOMContentLoaded", () => {
	    window.modalElements = {
			startButton: document.getElementById("start-button"),
	        stopButton: document.getElementById("stop-button"),
	        delayInput: document.getElementById("delay-input"),
			delayInputJQ: $("#delay-input"),
			amoutLabel: document.getElementById("amount"),
	    }
		
		modalElements.startButton.addEventListener("click", startRequestSending);
		modalElements.stopButton.addEventListener("click", stopRequestSending);

		const hubConnection = new signalR.HubConnectionBuilder()
	        .withUrl("/counter")
	        .build();
			
		hubConnection.on("GetCurrentCounterAmount", function (data) {
            modalElements.amoutLabel.innerHTML = parseInt(data, 10).toLocaleString();
	    });
		
		hubConnection.start().catch(err => window.location.href = "error");
		
        window.interval;
	});
	
	function startRequestSending(event) {
		if (!modalElements.delayInputJQ.valid()){
            return;
		}
		
        changeElementsState();
		clearInterval(window.interval);
        let interval = parseInt(modalElements.delayInput.value, 10);
		window.interval = setInterval(sendRequest, interval);
	}
	
	function stopRequestSending(event) {
        changeElementsState();
		clearInterval(window.interval);
	}    
	
	function changeElementsState() {
		modalElements.startButton.disabled = !modalElements.startButton.disabled;
		modalElements.delayInput.disabled = !modalElements.delayInput.disabled;
		modalElements.stopButton.disabled = !modalElements.stopButton.disabled;
	}
	
	function sendRequest() {
        let value = getRandomInt('@Model.RandomRange.MinValue', '@Model.RandomRange.MaxValue');
		
	    fetch("/api/Counter/AddGeneratedValue", {
	        method: "PUT",
	        body: JSON.stringify({value}),
	        headers: {
	            "Content-Type": "application/json"
	        }
	    }).catch(err => window.location.href = "error");
	}

	function getRandomInt(min, max) {
	  min = Math.ceil(min);
	  max = Math.floor(max);
	  return Math.floor(Math.random() * (max - min) + min);
	}
</script>